@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Добро пожаловать</h2>
</div>
<div>
    <p><h3>Вы находитесь на сайте компании PumpsEquipment. Мы производим насосное оборудование, обладающее непревзойденной надежностью, отличающееся от конкурентов высокотехнологичностью. Насосы нашего бренда неизменно занимают лидирующие позиции в области водонапорного оборудования. </h3></p>
    <p>Здесь вы можете ознакомиться с каталогом товаров и оставить заявку на покупку необходимого насоса. Наши сотрудники свяжутся с вами для уточнения дополнительной информации и оформления покупки.</p>
</div>
<p><a asp-controller="Home" asp-action="AllPumps" asp->Перейти в каталог насосов &raquo;</a></p>


