@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>
    Все права на любые материалы, опубликованные на сайте, защищены в соответствии с законодательством и законодательством о правах собственности.
    Любое использование текстовых, фото, аудио и видеоматериалов возможно только с письменного согласия правообладателя.

    Стоимость предложенных на сайте товаров и услуг носит информационный характер и не является публичной офертой. Пожалуйста, уточняйте подробности у менеджеров отдела продаж.
</p>
