@{
    ViewData["Title"] = "О программе";
}
<h1>@ViewData["Title"]</h1>

<p>Создано MVC-приложение, использующее шаблоны данных для контроллеров и представлений, поддерживаемых Visual Studio для модели MVC</p>
