################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/XMLDemo
/ITMO.C++.Course/.vs/ITMO.C++.Course
/ITMO.C++.Course/x64/Debug
/ITMO.C++.Course/Lab1/Lab1.Test/x64/Debug
/ITMO.C++.Course/Lab6/Lab6.Test1/x64/Debug
/ITMO.C++.Course/Lab6/Lab6.Test2/x64/Debug
