################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/XMLDemo
/ITMO.C++.Course/.vs/ITMO.C++.Course
/ITMO.C++.Course/x64/Debug
/ITMO.C++.Course/Lab1/Lab1.Test/x64/Debug
/ITMO.C++.Course/Lab6/Lab6.Test1/x64/Debug
/ITMO.C++.Course/Lab6/Lab6.Test2/x64/Debug
/ITMO.C++.Course/.vs/ITMO.CPP.Course
/ITMO.C++.Course/Lab11/Lab11.Test1/x64/Debug
/ITMO.C++.Course/Lab11/Lab11.Test2/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test2/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test3/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test4/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test1/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test2/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test3/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test4/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test5/x64/Debug
/ITMO.C++.Course/Lab4/Lab4.Test1/x64/Debug
/ITMO.C++.Course/Lab4/Lab4.Test2/x64/Debug
/ITMO.C++.Course/Lab5/Lab5.Test1/x64/Debug
/ITMO.C++.Course/Lab5/Lab5.Test2/x64/Debug
/ITMO.C++.Course/Lab5/Lab5.Test3/x64/Debug
/ITMO.C++.Course/Lab7/Lab7.Test1/x64/Debug
/ITMO.C++.Course/Lab8/Lab8.Test/x64/Debug
/ITMO.C++.Course/Lab9/Lab9.Test1/x64/Debug
/ITMO.C++.Course/Lab12/SchoolCpp/x64/Debug
/ITMO.C++.Course/Lab13/Lab13.Test/x64/Debug
/ITMO.C++.Course/Lab14/Lab14.Test1/x64/Debug
/ITMO.C++.Course/Lab15.Test/x64/Debug
/ITMO.C++.Course/AddressBook/x64/Debug
/ITMO.C++.Course/Lab7
/ITMO.C++.Course/Lab9/Lab9.Test2/x64/Debug
/ITMO.C++.Course/Lab10/Lab10.Test/x64/Debug
/ITMO.ADO.NETCourse2023/.vs
/ITMO.ADO.NETCourse2023/TestEx/TestEx/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec3Ex1/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec3Ex2/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec3Ex3/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec4Ex1/Lesson4Ex1/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec4Ex2/Lesson4Ex2/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec4Ex4/Lesson4Ex4.1/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec5Ex2/Lesson5Ex2/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec6Ex1/Les6Ex1/obj
/ITMO.ADO.NETCourse2023/LecExs/Lec7Ex1/Lec7Ex1/obj
/ITMO.ADO.NETCourse2023/Lab1/Ex2-5.DBConnection/.vs/DBConnection/FileContentIndex
/ITMO.ADO.NETCourse2023/Lab1/Ex2-5.DBConnection/DBConnection/obj
/ITMO.ADO.NETCourse2023/Lab2/Ex1-3.DBConnection/DBConnection/obj
/ITMO.ADO.NETCourse2023/Lab3/Ex1,2.DSConnect/DSConnect/obj
/ITMO.ADO.NETCourse2023/Lab3/Ex3,4.DBCommand/DBCommand/obj
/ITMO.ADO.NETCourse2023/Lab4/Ex1.DataSetDesigner/DataSetDesigner/obj
/ITMO.ADO.NETCourse2023/Lab4/Ex2.CreatingDataTable/CreatingDataTable/obj
/ITMO.ADO.NETCourse2023/Lab4/Ex3.DataAdapterWizard/DataAdapterWizard/obj
/ITMO.ADO.NETCourse2023/Lab4/Ex4.DataAdapterProgram/DataAdapterProgram/obj
/ITMO.ADO.NETCourse2023/Lab4/Ex5.WorkingDataTable/WorkingDataTable/obj
/ITMO.ADO.NETCourse2023/Lab4/Ex6.DataViewExample/DataViewExample/DataViewExample/obj
/ITMO.ADO.NETCourse2023/Lab5/Ex1.DataSourceWizard/DataSourceWizard/obj
/ITMO.ADO.NETCourse2023/Lab5/Ex2.DataBindingSimple/DataBindingSimple/obj
/ITMO.ADO.NETCourse2023/Lab5/Ex3.DataBindingComplex/DataBindingComplex/obj
/ITMO.ADO.NETCourse2023/Lab5/Ex4.DataGridViewExample/DataGridViewExample/obj
/ITMO.ADO.NETCourse2023/Lab6/Ex1.SavingDataSetXml/SavingDataSetXml/obj
/ITMO.ADO.NETCourse2023/Lab6/Ex2.LoadDataSetXml/LoadDataSetXml/obj
/ITMO.ADO.NETCourse2023/Lab7/Ex1-3.Linq_Student/Linq_Student/obj
/ITMO.ADO.NETCourse2023/Lab8/Ex3.LINQsqlSproc/Ex3.LINQsqlSproc/obj
/ITMO.ADO.NETCourse2023/Lab8/Ex1,2.LINQsql1_1/Ex1,2.LINQsql1_1/obj
/ITMO.ADO.NETCourse2023/Lab8/Ex4.LINQsql_m/Ex4.LINQsql_m/obj
/ITMO.ADO.NETCourse2023
/ITMO.ASP.NETCourse2023/.vs
/ITMO.ASP.NETCourse2023/ASP.NET MVC/MvcCreditApp/.vs/MvcCreditApp/FileContentIndex
/ITMO.ASP.NETCourse2023/ASP.NET Core Razor Pages/Lab1/WebAppCoreProduct/obj
