################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/XMLDemo
/ITMO.C++.Course/.vs/ITMO.C++.Course
/ITMO.C++.Course/x64/Debug
/ITMO.C++.Course/Lab1/Lab1.Test/x64/Debug
/ITMO.C++.Course/Lab6/Lab6.Test1/x64/Debug
/ITMO.C++.Course/Lab6/Lab6.Test2/x64/Debug
/ITMO.C++.Course/.vs/ITMO.CPP.Course
/ITMO.C++.Course/Lab11/Lab11.Test1/x64/Debug
/ITMO.C++.Course/Lab11/Lab11.Test2/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test2/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test3/x64/Debug
/ITMO.C++.Course/Lab2/Lab2.Test4/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test1/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test2/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test3/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test4/x64/Debug
/ITMO.C++.Course/Lab3/Lab3.Test5/x64/Debug
/ITMO.C++.Course/Lab4/Lab4.Test1/x64/Debug
/ITMO.C++.Course/Lab4/Lab4.Test2/x64/Debug
/ITMO.C++.Course/Lab5/Lab5.Test1/x64/Debug
/ITMO.C++.Course/Lab5/Lab5.Test2/x64/Debug
/ITMO.C++.Course/Lab5/Lab5.Test3/x64/Debug
/ITMO.C++.Course/Lab7/Lab7.Test1/x64/Debug
/ITMO.C++.Course/Lab8/Lab8.Test/x64/Debug
/ITMO.C++.Course/Lab9/Lab9.Test1/x64/Debug
